*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

/*color*/
:root {
    --main-white: #FFFFFF;
    --main-blue: #0065FC;
    --light-blue: #DEEBFF;
    --main-grey: #D9D9D9;
    --light-grey: #F2F2F2;
  }
/*color*/

body {
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
    background: var(--main-white);
}
header {
    height: 80px;
    display: flex;
}

/*Nav*/
.logo, nav {
    width: 50%;
}
.logo img {
    width: 60px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    padding: 15px 0;
    margin: 0 15px;
}
.select {
    border-top: 2px solid var(--main-blue);
    color: var(--main-blue);
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*Nav*/

a {
    text-decoration: none;
    display: block;
}

/*font Raleway*/
h1, h2, h3, .more, .filterContainer, .search input[type=text]::placeholder {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p, nav > ul > li > a, footer a {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*font Raleway*/

/*font size*/
input {
    font-size: 16px;
}
.card, .cardAside, footer a {
    font-size: 14px;
}
/*font size*/

/*icons*/
.fa-solid.blue::before {
    color: var(--main-blue);
}
.fa-solid.grey::before {
    color: var(--light-grey);
}
/*icons*/

/*Section Search*/
h1 {
    margin-bottom: 10px;
}
.search {
    display: flex;
    width: 350px;
    height: 40px;
    margin: 30px 0;
    position: relative;
}
.search .bull {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-grey);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.location {
    font-size: 18px;
}
.search input {
    border: none;
}
.search input[type=text] {
    width: 50%;
    text-align: center;
    border: 1px solid var(--light-grey);
}
.search input[type=text]:focus {
    outline: var(--light-grey);
}
.search input[type=text]::placeholder {
    color: #000000;
    opacity: 1;
}
.search input[class=desk]  {
    width: 35%;
    background: var(--main-blue);
    color: var(--main-white);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
.search .mobile {
    display: none;
}
.filterContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.filterContainer .wrap {
    display: flex;
}
.fa-money-bill-wave::before, .fa-person::before, .fa-heart::before, .fa-fire::before {
    margin-right: 10px;
    font-size: 1.4em;
}
.filterContainer span{
    margin-right: 15px;
}
.filter {
    display: flex;
}
.filter a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid var(--main-grey);
    border-radius: 50px;
    margin-right: 15px;
}
.filter a:hover {
    background: var(--light-blue);
}
.warn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.warn > div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--main-grey);
    margin-right: 10px;
}
i {
    font-size: 12px;
}

/*Section Search*/

/*Section Hébergements*/
#hebergements {
    display: flex;
    justify-content: space-between;
}
.articleContainer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: var(--light-grey);
    border-radius: 20px;
}
.articleContainer h2, .title{
    margin-bottom: 30px;
}
.hebergements {
    width: 820px;
}
.hebergementContainer {
    display: flex;
    justify-content: space-between;
}
.hebergementContainer:first-of-type {
    margin-bottom: 30px;
}
.hebergementContainer a {
    width: 30%;
}
.hebergementContainer .card {
    border-radius: 20px;
    padding: 5px;
    background: var(--main-white);
}
.hebergementContainer .card .room {
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.price {
    font-weight: bold;
    display: inline;
}
.hebergementContainer .card h3, .hebergementContainer  .card p {
    margin: 8px 10px;
}
.star {
    display: block;
    margin: 8px 10px 10px;
}
.more {
    margin-top: 30px;
}
aside {
    background: var(--light-grey);
    width: 460px;
    padding: 30px;
    border-radius: 20px;
}
.title {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.title .fa-chart-line{
    font-size: 15px;
}
.asideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}
.cardAside {
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    padding: 5px;
    background: var(--main-white);
}
.cardAside .roomAside {
    width: 30%;
    height:140px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.cardAside .sideCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 10px 2px;
}
.sideCard h3 {
    margin-bottom: 10px;
}
/*Section Hébergements*/

/*Section activités*/
#activites {
    margin: 30px 0;
    padding: 30px;
}
#activites h2 {
    margin-bottom: 30px;
}
.activitesContainer {
    display: flex;
    justify-content: space-between;
}
.activitesContainer a {
    width: 20%;
}
.activitesContainer .card {
    border-radius: 20px;
}
.activitesContainer .card .room {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.activitesContainer .card h3 {
    padding: 20px;
}
/*Section activités*/

/* Box-shadow Cards hébergements et activités*/
.hebergementContainer .card, aside .cardAside, .activitesContainer .card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
/* Box-shadow Cards hébergements et activités*/

footer {
    height: 160px;
    display: flex;
    background: var(--light-grey);
}
footer .foot{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height: 30px;
    margin-right: 10px;
}

/*Tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px){

    body {
        padding: 0 10px;
    }

    /*font size*/
    h1, h2 {
        font-size: 20px;
    }
     h3, .search input[type=text]::placeholder, .search input[type=submit], .filterContainer{
        font-size: 14px;
    }
    /*font size*/

    /*Section search*/
    .filterContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .filterContainer span {
        margin-bottom: 20px;
    }
    /*Section search*/

    /*Section hebergements*/
    #hebergements {
        flex-direction: column;
    }
    aside {
        margin-top: 40px;
        padding: 0 10px 30px 10px;
    }
    .asideContainer {
        flex-direction: row;
    }
    .hebergements, aside {
        width: 100%;
    }
    .sideContainer {
        width: 32%;
    }
    .cardAside {
        line-height: 20px;
    }
    .articleContainer {
        padding: 10px;
    }
    .articleContainer h2, aside .title {
        margin-bottom: unset;
        margin: 20px 0;
    }
    .articleContainer .more {
        margin-bottom: 20px;
    }
    /*Section hebergements*/

    /*Section activités*/
    #activites {
        padding: 10px;
    }
    #activites h2 {
        margin: 20px 0;
    }
    .activitesContainer a {
        width: 23%;
    }
    .activitesContainer .card {
        height: 250px;
    }
    .activitesContainer .card .room {
        height: 180px;
    }
    .activitesContainer .card h3 {
        padding: 10px 20px;
    }
    /*Section activités*/
}
/*Tablette*/

/*Mobile*/

@media screen and (max-width: 767px){

    /*font size*/
    h1, h2 {
        font-size: 20px;
    }
    h3, .search input[type=text]::placeholder, .filterContainer{
        font-size: 14px;
    }
    body {
        padding: 0;
    }
    /*font size*/

    /*header - nav*/
    header {
        height: unset;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .logo {
        width: 100%;
        margin: 10px 0;
        justify-content: center;
    }
    nav {
        width: 100%;
    }
    nav ul {
        justify-content: space-between;
    }
    nav ul li {
        display: block;
        width: 100%;
    }
    nav ul li a {
        width: 100%;
        margin: unset;
        text-align: center;
    }
    nav ul li .select {
        border-top: none;
        border-bottom: 2px solid var(--main-blue);
    }
    nav ul li .noSelected {
        border-bottom: 2px solid var(--light-grey);
    }
    /*header - nav*/

    /*section search*/
    #search {
        padding: 0 10px;
    }
    .search input[class=desk] {
        display: none;
    }
    .search {
        width: 100%;
    }
    .search input[type=text] {
        width: 83%;
        text-align: left;
        padding-left: 25px;
    }
    .search .mobile {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        background: var(--main-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 13px;
        border-radius: 15px;
        box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
        color: var(--main-white);
    }
    .filterContainer {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrap {
        flex-direction: column;
        width: 100%;
    }
    .filterContainer span, .filter {
        margin-bottom: 15px;
    }

    .filter {
        justify-content: space-between;
    }
    .filter div {
        width: 49%;
    }
    .filter div a {
        margin-right: unset;
        justify-content: unset;
    }
    .warn div {
        padding: 10px;
    }
    /*section search*/

    /*section hébergements*/
    #hebergements {
        flex-direction: column-reverse;
    }
    aside {
        border-radius: 0;
        margin-bottom: 40px;
        width: 100%;
    }
    #hebergements .more {
        margin-top: unset;
    }
    .hebergements {
        width: 100%;
    }
    .articleContainer {
        border-radius: 0;
        background: var(--main-white);
    }
    .hebergementContainer {
        flex-direction: column;
    }
    .hebergementContainer a {
        width: 100%;
    }
    
    /*Marges cartes*/
    .sideContainer:not(#hebergements aside .asideContainer .sideContainer:nth-child(3)), .hebergementContainer .card:not(.hebergementContainer .card:nth-child(6)) {
        margin-bottom: 20px;
    }
    /*Marges cartes*/
    
    .hebergementContainer:first-of-type {
        margin-bottom: 0;
    }
    .cardAside .roomAside {
        width: 100px;
    }
    /*section hébergements*/

    /*section activités*/
    .activitesContainer {
        flex-direction: column;
    }
    .activitesContainer a {
        width: 100%;
    }
    .activitesContainer .card {
        margin-bottom: 20px;
    }
    .activitesContainer .card .room {
        height: 130px;
    }
    /*section activités*/

    /*Footer*/
    footer {
        flex-direction: column;
        height: auto;
    }
    footer .foot {
        width: 100%;
    }
   /*Footer*/
}

/*Mobile*/