*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

/*color*/
:root {
    --main-white: #FFFFFF;
    --main-blue: #0065FC;
    --light-blue: #DEEBFF;
    --main-grey: #D9D9D9;
    --light-grey: #F2F2F2;
  }
/*color*/

body {
    min-width: 320px;
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
    background: var(--main-white);
}
header {
    height: 80px;
    display: flex;
}

/*Nav*/
.logo, nav {
    width: 50%;
}
.logo img {
    width: 60px;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    padding: 15px 0;
    margin: 0 15px;
}
.select {
    border-top: 2px solid var(--main-blue);
    color: var(--main-blue);
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*Nav*/

a {
    text-decoration: none;
    display: block;
}